#about{
  background-color: #E5E5E5;
  padding: 10px 16px 110px 16px;
  box-sizing: border-box;
  text-align: center;
    img{
      width: 344px;
      height: 267px;
    }

    h2{
      margin-top: 20px;
      font-family: 'Lora';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      color: #A55C30;
      }

    p{
      box-sizing: border-box;
      padding:  15px;
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
}


@media screen and (max-width: 1439px) and (min-width: 900px) {
  #about{
   img {
    width: 550px;
   }
  }
}



@media screen and (min-width: 1440px){
  #about{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 104px;
    height: fit-content;
    padding: 54px 63px;

    img{
      grid-row: span 2; 
      width: 703px;
      height: 546px;
    }
    h2, p{
      padding: 0;
      text-align: left;
      height: fit-content;
      margin-top:16px;
    }

    h2{
      font-size: 56px;
      line-height: 72px;
    }

    p{
      font-size: 16px;
      line-height: 24px;
    }

  }
}