@import '../Components/button' ;

footer{
  background-color: black;
  color: white;
  text-align: center;
  font-family: 'Nunito Sans', sans-serif;
  display: grid;
  .footer_container {
    width: 100%;
    display: grid;
    justify-content: center;
    row-gap: 88px;
    box-sizing: border-box;
    padding: 40px 0 25px 0;

    .footer_start{
      h2 {
        font-family: 'Lora', serif;
        font-weight: 400;
        font-size: 32px;
        color: #A55C30;
        font-style: italic;

        span{
          font-weight: 700;
          font-style: normal;
        }
      }

      p{
        
        font-weight: 300;
        font-size: 16px;
        width: 250px;
        margin: auto;
        margin-top: 18px;
        line-height: 20px;
      }
    }

    .news_letter {
      display: grid;
      row-gap: 20px;
      h3{
        font-weight: 600;
        font-size: 24px;
        color: #A55C30;
        margin-bottom: 12px;
      }
      p{
        width: 300px;
        text-align: center;
        font-size: 16px;
        line-height: 20px;
        justify-self: center;
        line-height: 20px;
        letter-spacing: 0.05em;
        font-weight: 300;
        font-style: normal;
      }
      input{
        justify-self: center;
        height: 54px;
        width: 270px;
        padding-left: 20px;
      }
      ::placeholder {
        opacity: 0.6;
      }
      button {
        height: 54px;
        width: 135px;
        text-transform: none;
      }
    }

    .footer_contact{
      display: grid;
      row-gap: 16px;
      text-align: start;
      
      h3{
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        color: #A55C30;
        margin-bottom: 16px;
        width: fit-content;
        justify-self: center;
      }
      p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        width: 230px;
        height: fit-content;
        justify-self: center;
        display: flex;
        gap: 16px;
        align-items: center;
      }
      .address::before{
        content: url(/imgs/spot.svg);
        height: 25px;
        width: 25px;
      }
      .phone::before{
        content: url(/imgs/phone.svg);
        height: 25px;
        width: 25px;     
        margin-left: 4px;
      }
      .email::before{
        content: url(/imgs/email.svg);
        height: 25px;
        width: 25px;
        margin-left: 4px;
      }
    }

    .social {
      display: flex;
      gap: 32px;
      justify-self: center;
      width: fit-content;
    }
  }                  
  .copyrights{
    font-weight: 300;
    font-size: 12px;
    width: 310px;
    text-align: center;
    margin: auto;
    box-sizing: border-box;
    padding: 10px 0 34px 0;
    border-top: 1px solid gray;
  }
}

@media screen and (min-width: 1440px){
  footer{
    div.footer_container{
      grid-template-columns: auto auto auto;
      grid-template-rows: auto auto;
      row-gap: 30px;
      column-gap: 120px;
      padding: 62px 0 18px 0;

      .footer_contact{
        margin-top: 12px;
      }

      .news_letter{
        margin-top: 12px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 16px;
        row-gap: 0;

          h3,p{
            grid-column:span 2 ;
          }

          h3{
            font-weight: 600;
            font-size: 24px;
            line-height: 33px;
          }
      }

      .footer_start{
        text-align: left;
          p{
            margin-left: 11px;
          }
      }

      .social{
        grid-column-start: 2;
        img{
          cursor: pointer;
        }
      }
    }

    .copyrights{
      width: 1200px;
    }
  }
}