header {
  background-color: #E5E5E5;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(214, 217, 223, 0.4);

  h1 {
    margin-left: 15px;
    font-family: 'Lora', serif;
    font-weight: 400;
    font-size: 24px;
    color: #A55C30;
    font-style: italic;

    span{
      font-weight: 700;
      font-style: normal;
    }
  }
}