#intro {
  position: relative;
  background-color: #E5E5E5;
  width: 100%;
  height: 700px;
   p{
    margin: 48px auto auto 31px;
    width: 229px;
    height: 164px;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #232730;
    border-left: 9px solid  #F8D7A4;    
    padding-left:  20px;
    position: absolute;
  }

  img{
    margin-top: 113px;
    width: 937px;
    position: absolute;
    // left: -48px;
  }
}

.back_car {
  display: none;
}

@media screen and (max-width: 1439px) and (min-width: 1200px) {
  #intro{
    p{top: 150px;
      margin-left: 10%;
      
    }
  }
}

@media screen and (max-width: 1439px) and (min-width: 900px) {
  #intro{
   img {
    right:0;
   }
  }
}

@media screen and (min-width: 1440px){
  #intro {
    width: 1440px;
    justify-self: center;
    z-index: 7;
    overflow-y: hidden;
    margin-top: 63.9px;
    img{
      left: auto;
      right: 0;
      z-index: 10;
    }
    img.back_car {
      display: block;
      position: absolute;
      top: -200px;
      right: 0;
      z-index: 5;
      width: 700px;
      height: 842px;
    }

    p{
      font-size: 56px;
      line-height: 72px;
      width: 400px;
      height: 288px;
      margin-left: 123px;
      margin-top: 193px;
    }
    
  }
}