#intro {
  position: relative;
  background-color: #E5E5E5;
  width: 100%;
   p{
    margin: 48px auto auto 31px;
    width: 229px;
    height: 164px;
    font-family: 'Lora';
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #232730;
    border-left: 9px solid  #F8D7A4;    
    padding-left:  20px;
    position: absolute;
  }

  img{
    margin-top: 113px;
    width: 100%;
  }


}