#services {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)), url(/imgs/esportivo2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(4, auto);
  box-sizing: border-box;
  padding: 36px;
  gap: 50px;
   
  .service_img{
    width: 700px;
    left: -900px;
    position: absolute;
    z-index: 6;
  }

  h2{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 41px;
    color: #A55C30;
    text-align: center;
  }
}

@media screen and (min-width: 1440px){
  #services {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    padding: 107px 123px 129px 123px;
    column-gap: 143px;
    row-gap: 64px;
    

    h2{
      grid-column: span 3;
      text-align: left;
      font-size: 48px;
      line-height: 61px;
    }
  }
}