#testimonials {
  box-sizing: border-box;
  background-color: #F8D7A4;
  padding: 36px 27px 140px 27px;
  display: grid;
  gap: 72px;

  h2 {
    font-family: 'Lora', serif;
    font-weight: 700;
    font-size: 32px;
    color: #A55C30;
    text-align: center;
  }
}

@media screen and (min-width: 1440px){
  #testimonials {
    scroll-margin-top: 64px ;
    h2{
      font-size: 48px;
      line-height: 61px;
    }
  }
}