.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.glide * {
  box-sizing: inherit;
}
.glide__track {
  overflow: hidden;
}
.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}
.glide__slides--dragging {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
.glide__slide a {
  -webkit-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.glide__arrows {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide__bullets {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}
.glide__arrow:focus {
  outline: none;
}
.glide__arrow:hover {
  border-color: white;
}
.glide__arrow--left {
  left: 2em;
}
.glide__arrow--right {
  right: 2em;
}
.glide__arrow--disabled {
  opacity: 0.33;
}
.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}
.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}
.glide__bullet:focus {
  outline: none;
}
.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}
.glide__bullet--active {
  background-color: white;
}
.glide--swipeable {
  cursor: grab;
  cursor: -webkit-grab;
}
.glide--dragging {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#fleet .glide__bullets .glide__bullet--active {
  background-color: #F8D7A4;
}
#fleet .glide__bullets .glide__bullet {
  width: 11px;
  height: 11px;
}
#fleet .glide__bullets {
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: static;
  z-index: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  justify-self: center;
  transform: none;
}
#fleet .glide__bullet {
  margin: 0;
  background-color: #E5E5E5;
}
#fleet .glide__slide {
  display: flex;
  justify-content: center;
}
#fleet .glide {
  display: grid;
  gap: 35px;
}

#testimonials .glide__bullets .glide__bullet--active {
  background-color: #A55C30;
}
#testimonials .glide__bullets .glide__bullet {
  width: 11px;
  height: 11px;
}
#testimonials .glide__bullets {
  gap: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: static;
  z-index: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  justify-self: center;
  transform: none;
}
#testimonials .glide__bullet {
  margin: 0;
  background-color: #E5E5E5;
}
#testimonials .glide__slide {
  display: flex;
  justify-content: center;
}
#testimonials .glide2 {
  display: grid;
  gap: 33px;
}

header {
  background-color: #E5E5E5;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 4px rgba(214, 217, 223, 0.4);
}
header h1 {
  margin-left: 15px;
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 24px;
  color: #A55C30;
  font-style: italic;
}
header h1 span {
  font-weight: 700;
  font-style: normal;
}

#intro {
  position: relative;
  background-color: #E5E5E5;
}
#intro p {
  margin: 48px auto auto 31px;
  width: 229px;
  height: 164px;
  font-family: "Lora";
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #232730;
  border-left: 9px solid #F8D7A4;
  padding-left: 20px;
  position: absolute;
}
#intro img {
  margin-top: 113px;
}

#about {
  background-color: #E5E5E5;
  padding: 10px 16px 110px 16px;
  box-sizing: border-box;
  text-align: center;
}
#about img {
  width: 344px;
  height: 267px;
}
#about h2 {
  margin-top: 20px;
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #A55C30;
}
#about p {
  box-sizing: border-box;
  padding: 15px;
  font-family: "Nunito Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

#services {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.91), rgba(0, 0, 0, 0.91)), url(/imgs/esportivo2.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(4, auto);
  box-sizing: border-box;
  padding: 36px;
  row-gap: 50px;
}
#services .service_img {
  width: 700px;
  left: -900px;
  position: absolute;
  z-index: 6;
}
#services h2 {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 41px;
  color: #A55C30;
  text-align: center;
}

#fleet {
  width: 100%;
  height: auto;
  background-color: white;
  box-sizing: border-box;
  display: grid;
  padding-bottom: 20px;
}
#fleet h2 {
  font-family: "Lora";
  font-weight: 700;
  font-size: 32px;
  color: #A55C30;
  justify-self: center;
  box-sizing: border-box;
  padding: 30px;
}
#fleet .glide {
  margin-bottom: 94px;
}

.num_info {
  background: rgba(35, 34, 34, 0.96);
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  width: 349px;
  justify-self: center;
  row-gap: 72px;
  padding: 50px 0 100px 0;
  text-transform: uppercase;
}

#testimonials {
  box-sizing: border-box;
  background-color: #F8D7A4;
  padding: 36px 27px 140px 27px;
  display: grid;
  gap: 72px;
}
#testimonials h2 {
  font-family: "Lora", serif;
  font-weight: 700;
  font-size: 32px;
  color: #A55C30;
  text-align: center;
}

.service {
  display: grid;
  row-gap: 1rem;
  grid-template-rows: repeat(3, auto);
  box-sizing: border-box;
  padding: 1rem;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.service img {
  justify-self: center;
  width: 54px;
  height: 54px;
}
.service h4 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
.service p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  font-size: 14px;
}

.card {
  background-color: white;
  box-sizing: border-box;
  color: black;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: repeat(5, auto);
  justify-content: center;
  text-align: center;
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.1);
  padding: 23px;
  width: 283.5px;
  height: 351px;
  justify-self: center;
  align-items: center;
}

.span_2 {
  grid-column: span 2;
}

.seats::before {
  content: url(/imgs/num_people.svg);
  margin-right: 12px;
}

.luggage::before {
  content: url(/imgs/luggage.svg);
  margin-right: 12px;
}

.numbers {
  font-family: "Noto Sans", sans-serif;
  color: white;
  gap: 72px;
  text-align: center;
}
.numbers .number {
  font-size: 48px;
  font-weight: bold;
}
.numbers .txt {
  font-size: 16px;
}

.testimonial {
  background-color: white;
  box-sizing: border-box;
  padding: 55px 50px 20px 50px;
  display: grid;
  justify-content: center;
  justify-self: center;
  text-align: center;
  box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);
}
.testimonial p {
  width: 220px;
  height: 178px;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: black;
}
.testimonial img {
  width: 80px;
  height: 80px;
  justify-self: center;
  margin-top: 30px;
}
.testimonial .stars img {
  width: 94px;
  height: auto;
  margin-top: 14px;
}
.testimonial .name, .testimonial .city {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-style: normal;
}
.testimonial .name {
  font-weight: 700;
  font-size: 20px;
}
.testimonial .city {
  font-weight: 300;
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */