#about{
  
  padding: 10px 16px 110px 16px;
  box-sizing: border-box;
  text-align: center;
  img{
    width: 344px;
    height: 267px;
  }

  h2{
    margin-top: 20px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #A55C30;
    }

    p{
      box-sizing: border-box;
      padding:  15px;
      font-family: 'Nunito Sans';
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
}