html, body{
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
}

@media screen and (min-width: 1440px){
  body{
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: grid;
  
    header, section, section#fleet, footer {
      width: 1440px;
      justify-self: center;
    }
}
}
