button{
  width: 161px;
  height: 60px;
  justify-self: center;
  background: #A55C30;
  color: white;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 18px;
  border: 0;
  text-transform: uppercase;
}