#contact {
  h3 {
    text-align: center  
  };

  form{
    display: grid;
    background-color: #E8EAEC ;
    width: 340px;
    box-sizing: border-box;
    padding: 32px 16px;
    gap: 12px;
    input {
      height: 48px;
      border: 0;
      padding-left: 25px;
    }
    ::placeholder {
       opacity: 0.6;
    }
    button{
      width: 161px;
      height: 60px;
      justify-self: center;
      background: #A55C30;
      color: white;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 18px;
      border: 0;
      text-transform: uppercase;
    }
    .form_details {
      height: 204px;
    }
  }
}