.testimonial {
  background-color: white;
  box-sizing: border-box;
  padding: 55px 50px 20px 50px;
  display: grid;
  justify-content: center;
  justify-self: center;
  text-align: center;
  box-shadow: 5px 15px 33px rgba(0, 0, 0, 0.1);
  p{
    width: 220px;
    height: 178px;
    box-sizing: border-box;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: black;
    
    
  }
  img{
    width: 80px;
    height: 80px;
    justify-self: center;
    margin-top: 30px;
  }
  .stars{
    img{
      width: 94px;
      height: auto;
      margin-top: 14px;
    }
  }

  .name,.city {
    height: fit-content;
    font-style: normal;
  }

  .name{
    font-weight: 700;
    font-size: 20px;
    
  }

  .city{
    font-weight: 300;
    font-size: 14px;
  }
}

@media screen and (min-width: 1440px){
  .testimonial {
   width: 1200px; 
   margin: auto;
  }
}